/***************************************************              GENERAL RESET STYLES             ***************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
}
*:focus {
  outline: none;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
  padding-left: 757px;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
  max-width: 100%;
}
form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input::-webkit-input-placeholder {
  color: #ebedec;
}
input:focus::-webkit-input-placeholder {
  color: #ebedec;
}
/*@media*/

/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */

/*@media end*/

/* wrapper */
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.layout {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1024px;
}

.main-menu {
  display: flex;
  padding: 40px 0 10px 127px;
  background: #2d2d2d;
}
.main-menu li {
  list-style: none;
  margin: 0 32px 0 32px;
}
.main-menu li a {
  text-decoration: none;
  font-family: 'Arial Regular';
  font-size: 14px;
  color: #ffffff;
}

.main-menu li:first-child {
  margin-left: 0;
}
.main-menu li:last-child {
  margin-right: 0;
}

.section-2 {
  background: #63baa9;
  margin-top: -3px;
  padding-bottom: 74px;
}
.portfolio-h3 {
  padding: 60px 0 72px 126px;
  display: flex;
  flex-direction: row;
}
.portfolio-h3 h3 {
  font-family: 'Myriad Pro Semibold';
  font-size: 30px;
  color: #ffffff;
}
.horizontal-line {
  border-bottom: 3px solid #ffffff;
  width: 562px;
  margin-bottom: 12px;
  margin-left: 52px;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 128px;
  margin-right: 129px;
}

.orange-box {
  background: #f7671d;
  width: 508px;
  height: 246px;
  margin-right: 9px;
}
.orange-box h4 {
  font-family: 'Arial Narrow Regular';
  font-size: 14px;
  color: #ffffff;
  margin: 40px 53px 24px 21px;
}
.orange-box p {
  font-family: 'Arial Narrow Regular';
  font-size: 12px;
  color: #ffffff;
  margin: 0 31px 24px 21px;
}

.box-01 {
  background: #ffffff;
  width: 249px;
  height: 246px;
}
.box-01 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 186px 207px 7px 21px;
}
.box-01 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-02 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 10px 10px 12px 0;
}

.box-02 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-02 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-03 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 10px 9px 12px 0;
}

.box-03 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-03 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-04 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 10px 0 12px 0;
}

.box-04 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-04 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-05 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0 10px 12px 0;
}

.box-05 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-05 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-06 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0 10px 12px 0;
}

.box-06 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-06 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-07 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0 0 12px 0;
}

.box-07 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-07 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-08 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0 10px 0 0;
}

.box-08 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-08 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-09 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0 9px 0 0;
}

.box-09 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-09 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

.box-10 {
  background: #ffffff;
  width: 249px;
  height: 122px;
  margin: 0;
}

.box-10 h4 {
  font-family: 'Arial Regular';
  font-size: 24px;
  color: #d1751a;
  margin: 62px 204px 7px 20px;
}

.box-10 p {
  font-family: 'Arial Regular';
  font-size: 12px;
  color: #4e4d4d;
  margin: 0 22px 25px 21px;
}

footer {
  background: #303646;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1024px;
  padding-bottom: 12px;
}

.contact-h3 {
  display: flex;
  flex-direction: row;
}

.line-contact {
  border-bottom: 3px solid #ffffff;
  width: 475px;
  margin: 79px 0 124px 57px;
}

.contact-h3 h3 {
  font-family: 'Myriad Pro';
  font-size: 30px;
  color: #ffffff;
  padding: 70px 57px 0 125px;
}

.twosides {
  display: flex;
  flex-direction: row;
  margin-bottom: 51px;
}

.form-leftside {
  display: block;
  flex-direction: column;
}
.write-us-we-soc {
  display: flex;
  flex-direction: row;
}
.write-us-we-soc p {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #d1751a;
  margin: 0 0 30px 131px;
}
.write-us-we-soc span {
  border-bottom: 1px solid #4e4d4d;
  width: 361px;
  margin: 2px 0 36px 38px;
}
form .yourname {
  margin: 0 0 0 130px;
}
form .yourname label {
  font-family: 'Myriad Regular';
  font-size: 12px;
  color: #868686;
}
form .yourname input {
  background: #ffffff;
  width: 226px;
  height: 20px;
  border-top: 1px solid #5a5959;
}

form .email {
  margin: 9px 0 0 130px;
}

form .email label {
  font-family: 'Myriad Regular';
  font-size: 12px;
  color: #868686;
}
form .email input {
  background: #ffffff;
  width: 226px;
  height: 20px;
  border-top: 1px solid #5a5959;
}

form .message-text {
  margin: 9px 0 0 130px;
}

form .message-text label {
  font-family: 'Myriad Regular';
  font-size: 12px;
  color: #868686;
}
form .message-text textarea {
  background: #ffffff;
  width: 457px;
  height: 66px;
  border-top: 1px solid #5a5959;
  resize: none;
}
.form-leftside button {
  background: #f7671d;
  border-radius: 2px;
  font-family: 'Myriad Pro Regular';
  font-size: 12px;
  color: #ffffff;
  width: 70px;
  height: 18px;
  margin: 11px 0 0 520px;
  border: none;
  cursor: pointer;
}

.rightside-social {
  margin-left: 31px;
}

.text-social {
  margin: 0 0 17px 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-social p {
  font-family: 'Myriad Pro Regular';
  font-size: 14px;
  color: #000000;
}

.text-social span {
  border-bottom: 1px solid #4e4d4d;
  width: 122px;
  margin: 0 0 0 29px;
}

.rightside-social .social-icons {
  display: flex;
  flex-direction: row;
}
.rightside-social .social-icons li {
  margin: 0 5px 0 5px;
}
.rightside-social .social-icons li:first-child {
  margin-left: 0;
}
.rightside-social .social-icons li:last-child {
  margin-right: 0;
}
.contact-info {
  margin: 30px 0 0 0;
}

.text-and-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-info p {
  font-family: 'Myriad Pro Regular';
  font-size: 14px;
  color: #000000;
}
.contact-info span {
  border-bottom: 1px solid #4e4d4d;
  width: 72px;
  margin-left: 23px;
}
.contact-info .four-icons {
  margin: 18px 0 0 0;
}

.contact-info .four-icons li img {
  margin: 0 13px 0 0;
  position: relative;
  top: 8px;
}
.contact-info .four-icons li {
  margin: 6px 0 0 0;
  position: relative;
  color: #4e4d4d;
}
.contact-info .four-icons li a {
  text-decoration: none;
  color: #4e4d4d;
}
